<div id="searchresultcontainer" ng-init="init()">

    <!-- LEFT BOOKCARD PANE -->
    <div class="resultlistpane itemcount">
        <li class="large_callout">Top 20 Results</li>
        <li class="small_callout">&darr;</li>
    </div>

    <div class="resultlistpane">
        <bookcardblank></bookcardblank>
        <div ng-repeat="searchResult in searchResultsObj.items">
            <bookcard bookthumbnail="searchResult.volumeInfo.imageLinks.thumbnail"
                      booktitle="searchResult.volumeInfo.title"
                      bookdesc="searchResult.volumeInfo.description"
                      ng-click="clicked_book($index)">
            </bookcard>
        </div>
    </div>

    <!-- RIGHT BOOK RESULT PANE -->
    <div class="resultcontentpane">
        <div class="header">
            <div class="search_term_display_left">
                <div class="header_content_label">Search Term</div>
                <div class="header_content_term">{{search_term}}</div>
            </div>
            <div class="search_again_textbox_div">
                <form name="search_again">
                    <input class="search_again_textbox" type="text" value="" placeholder="search new term" ng-model="searchedText"/>
                    <button type="submit" class="search_again_img" ng-click="searchAgainBook()" ng-submit="searchAgainBook()"><img src="app/img/search_again_icon.png" width="40" height="40" alt="submit"></button>
                </form>
            </div>
        </div>
        <div class="content_pane_empty" ng_if="!book_title">
            Now, search one!
        </div>
        <div class="content_pane" ng-show="book_title">
            <div class="tn">
                <img class="bookdetail_img" src={{book_img_link}}>
            </div>
            <div class="bookdetail_text">
                <span class="bookdetail_fieldnames">Title</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_title}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Author(s)</span>
                    <span class="bookdetail_fieldvalue" ng-repeat="author in book_author_list"><br>
                        {{author}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Description</span><br>
                    <div class="bookdetail_fieldvalue">
                        {{book_description}}
                    </div><br>
                <span class="bookdetail_fieldnames">Publisher</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_publisher}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Identifier(s)</span>
                    <span ng-repeat="id in book_identifier_list"><br>
                        <span class="bookdetail_fieldvalue">Type: {{id.type}}</span><br>
                        <span class="bookdetail_fieldvalue">Id: {{id.identifier}}</span><br>
                    </span><br>
                <span class="bookdetail_fieldnames">Categories</span><br>
                    <span class="bookdetail_fieldvalue" ng-repeat="category in book_category_list">
                        {{category}}<br>
                    </span><br>
                <span class="bookdetail_fieldnames">Avg. Rating</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_avg_rating}}
                    </span><br><br>
            </div>
        </div>
    </div>

    <!-- ADVERTISEMENT
    <div id="chitikaAdBlock-0" class="advert"></div>
    <script type="text/javascript" src="http://cdn.chitika.net/getads.js" async></script>
    -->
    <div class="advert">
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=wwwilookforab-20&o=1&p=14&l=bn1&mode=books&browse=1000&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="160" height="600" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
    </div>
</div>
