<div id="searchresultcontainer" ng-init="init()">

    <!-- LEFT BOOKCARD PANE -->
    <div class="resultlistpane itemcount">
        <li class="large_callout">Top 20 Results</li>
        <li class="small_callout">&darr;</li>
    </div>

    <div class="resultlistpane">
        <bookcardblank></bookcardblank>
        <div ng-repeat="searchResult in searchResultsObj.items">
            <bookcard bookthumbnail="searchResult.volumeInfo.imageLinks.thumbnail"
                      booktitle="searchResult.volumeInfo.title"
                      bookdesc="searchResult.volumeInfo.description"
                      ng-click="clicked_book($index)">
            </bookcard>
        </div>
    </div>

    <!-- RIGHT BOOK RESULT PANE -->
    <div class="resultcontentpane">
        <div class="header">
            <div class="search_term_display_left">
                <div class="header_content_label">Search Term</div>
                <div class="header_content_term">{{search_term}}</div>
            </div>
        </div>
        <div class="content_pane_empty" ng_if="!book_title">
            Click on a title
        </div>
        <div class="content_pane" ng-show="book_title">
            <div class="tn">
                <img class="bookdetail_img" src={{book_img_link}}>
            </div>
            <div class="bookdetail_text">
                <span class="bookdetail_fieldnames">Title</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_title}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Publisher</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_publisher}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Description</span><br>
                    <div class="bookdetail_fieldvalue">
                        {{book_description}}
                    </div><br><br>
                <span class="bookdetail_fieldnames">Author(s)</span>
                    <span class="bookdetail_fieldvalue" ng-repeat="author in book_author_list"><br>
                        {{author}}
                    </span><br><br>
                <span class="bookdetail_fieldnames">Identifier(s)</span>
                    <span ng-repeat="id in book_identifier_list"><br>
                        <span class="bookdetail_fieldvalue">Type: {{id.type}}</span><br>
                        <span class="bookdetail_fieldvalue">Id: {{id.identifier}}</span><br>
                    </span><br>
                <span class="bookdetail_fieldnames">Categories</span><br>
                    <span class="bookdetail_fieldvalue" ng-repeat="category in book_category_list">
                        {{category}}<br>
                    </span><br>
                <span class="bookdetail_fieldnames">Avg. Rating</span><br>
                    <span class="bookdetail_fieldvalue">
                        {{book_avg_rating}}
                    </span><br><br>
            </div>
        </div>
    </div>
</div>
