<div id="search" class="open">
    <form name="search">
        <input type="search" value="" placeholder="enter book title to search, here" ng-model="searchedText"/>
        <button type="submit" class="btn btn-primary" ng-click="searchBook()" ng-submit="searchBook()">Search</button>
    </form>
    <div class="links_footer">
        <!-- <span class="footer_title">Amazon Links</span><br><br> -->
        <img src="app/img/amazon_logo.png" height="50px">
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=1000&site-redirect=&tag=wwwilookforab-20&linkId=UQV5JCKGXCMWIJLQ">100 Best Sellers</a>
            <img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=27&site-redirect=&tag=wwwilookforab-20&linkId=QNP5GOVM7ZUZUTHU">Top Travel Books</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=25&site-redirect=&tag=wwwilookforab-20&linkId=OF5GGYEH2YVKGS4H">Science Fiction &amp; Fantasy</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=23&site-redirect=&tag=wwwilookforab-20&linkId=HXUUOVDBSKYLR7RM">Romance</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=17&site-redirect=&tag=wwwilookforab-20&linkId=M4PJ6IY3LJJK7N5A">Literature</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=5&site-redirect=&tag=wwwilookforab-20&linkId=S4PSR35J7A5455BC">Computers &amp; Technology</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=301889&site-redirect=&tag=wwwilookforab-20&linkId=YCYYSWU7O3525SD7">Gay &amp; Lesbian</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=6&site-redirect=&tag=wwwilookforab-20&linkId=DTNZRQPYD45YEJU2">Cookbooks, Food &amp; Wine</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="footer_text">
            <a target="_blank" href="http://www.amazon.com/b?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=4736&site-redirect=&tag=wwwilookforab-20&linkId=XTZTYG2EI4EVV54I">Top Self-Help</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=wwwilookforab-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </span>
    </div>
</div>
